@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    margin-left: auto;
    margin-right: auto;
    @apply max-w-screen-xl px-4 sm:px-6 lg:px-8;
  }
}

@media (max-width: 768px) {
  :root {
    --swiper-navigation-size: 30px;
  }
}
